<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="#home">Lara Sakanaka</a>
        <div class="d-flex align-items-center d-lg-none">
            <button class="btn btn-outline-secondary me-2" (click)="toggleTheme()">
        {{ themeService.isDarkMode() ? '☀️' : '🌙' }}
            </button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link" href="#home" (click)="closeMenu()">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#about" (click)="closeMenu()">Perfil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#skills" (click)="closeMenu()">Habilidades</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#experience" (click)="closeMenu()">Experiências</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#certificates" (click)="closeMenu()">Certificados</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#projects" (click)="closeMenu()">Projetos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contact" (click)="closeMenu()">Contato</a>
                </li>

                <li class="nav-item ms-3 d-none d-lg-block">
                    <button class="btn btn-outline-secondary" (click)="toggleTheme()">{{ themeService.isDarkMode() ? '☀️' : '🌙' }}</button>
                </li>

            </ul>
        </div>
    </div>
</nav>