<section id="experience" class="container py-5">
    <div class="container">

        <h3 class="pb-3 fw-bold montagu-slab-uniquifier" style="color: var(--primary);">
            Experiências Profissionais </h3>

        <div class="row g-4">
            <div *ngFor="let exp of experiences">
                <div class="experience-card">

                    <h3 class="title">{{ exp.role }}</h3>

                    <p class="sub">
                        {{ exp.company }} • {{ exp.location }}
                    </p>

                    <span class="experience-period">
        {{ exp.period }}
      </span>

                    <p class="experience-description">
                        {{ exp.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>