<section id="certificates" class="container py-5">
    <div class="container">

        <h3 class="pb-3 fw-bold montagu-slab-uniquifier" style="color: var(--primary);">
            Certificados e Cursos
        </h3>

        <div class="row g-4">
            <div class="col-md-4" *ngFor="let cert of certificates | slice:0:3">

                <div class="certificate-card">
                    <h5>{{ cert.title }}</h5>
                    <p>{{ cert.date }} • {{ cert.type }}</p>

                    <a class="btn btn-outline-primary w-100" [href]="cert.file" target="_blank" rel="noopener noreferrer">Ver certificado</a>

                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-primary" (click)="toggleCertificates()">
          {{ showAllCertificates ? 'Ocultar certificados' : 'Ver todos os certificados' }}
        </button>

        </div>

    </div>
</section>

<section id="all-certificates" class="section section-alt" *ngIf="showAllCertificates">

    <div class="container">

        <div class="filters mb-4">
            <select class="form-select" [(ngModel)]="selectedType">

          <option value="todos">Todos</option>
          <option value="Diploma">Diploma</option>
          <option value="Faculdade">Faculdade</option>
          <option value="Curso">Cursos</option>
          <option value="Evento">Eventos</option>

        </select>

            <select class="form-select" [(ngModel)]="sortOrder">


          <option value="desc">Mais recentes</option>
          <option value="asc">Mais antigos</option>
        </select>
        </div>

        <div class="row g-4">
            <div class="col-lg-4 col-md-6" *ngFor="let cert of filteredCertificates">

                <div class="certificate-card">
                    <h5>{{ cert.title }}</h5>
                    <p>{{ cert.date }} • {{ cert.type }}</p>

                    <a class="btn btn-outline-primary w-100" [href]="cert.file" download>
              Baixar certificado
            </a>
                </div>
            </div>
        </div>

    </div>
</section>