<section id="home" class="container min-vh-100 d-flex align-items-start align-items-lg-center">

    <div class="container">

        <div class="row w-100 align-items-center home-text">

            <!-- TEXTO -->
            <div class="col-12 col-md-6 text-center text-md-start fade-up">
                <p class="fw-semibold mb-2 title" style="color: var(--primary);">
                    Olá, seja bem-vindo(a) ✨
                </p>

                <h1 class="fw-bold display-4 mb-3">
                    Lara <span style="color: var(--primary);">Sakanaka</span>
                </h1>

                <h2 class="fw-normal mb-4" style="color: var(--text-color);">
                    Desenvolvedora Full Stack
                </h2>

                <p class="lead  mb-4 dm-serif-text-regular" style="color: var(--text-muted);">
                    Desenvolvedora formada em ADS, com foco em criar soluções eficientes e funcionais. Busco oportunidade para crescer na área de tecnologia e também desenvolvo projetos como freelancer.
                </p>

                <!-- Ícones -->
                <div class="d-flex gap-4 justify-content-center justify-content-md-start fade-up delay-1">
                    <a href="https://github.com/LaraYuka" target="_blank" class="icon-link" aria-label="GitHub" title="GitHub">
                        <i class="bi bi-github"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/lara-yuka-sakanaka/" target="_blank" class="icon-link" aria-label="LinkedIn">
                        <i class="bi bi-linkedin" title="LinkedIn"></i>
                    </a>

                    <a href="https://wa.me/5514996658361?text=Olá!%20Vi%20seu%20portfólio%20e%20gostaria%20de%20conversar." class="icon-link" aria-label="Whatsapp" target="_blank" title="Whatsapp"><i class="bi bi-whatsapp"></i></a>

                    <a href="/assets/cv.pdf" class="icon-link" aria-label="Currículo" title="Currículo">
                        <i class="bi bi-file-earmark-person"></i>
                    </a>

                </div>
            </div>

            <!-- IMAGEM -->
            <div class="col-12 col-md-6 mt-5 mt-md-0 fade-up delay-2">
                <div class="img-wrapper">
                    <img src="assets/img1.jpg" alt="Foto de Lara Sakanaka" class="profile-img" title="Lara Sakanaka" />
                </div>
            </div>

        </div>
    </div>
</section>


<!---
<section id="home" class="container min-vh-100 d-flex align-items-center">
    <div class="row w-100 align-items-center">

        <!-- TEXTO --
        <div class="col-12 col-md-6 text-center text-md-start mb-4 mb-md-0">
            <h1 class="display-5 fw-bold">
                Olá, eu sou a Lara Sakanaka 👋
            </h1>
            <p class="lead">
                Desenvolvedora Full Stack
            </p>
        </div>

        <!-- IMAGEM --
        <div class="col-12 col-md-6 text-center">
            <img src="/assets/img1.jpg" alt="Foto de Lara Sakanaka" class="profile-img" />
        </div>

    </div>
</section>

-->
